<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <p class ="navbar-brand">The Order of The Phoenix</p>
      <p class="subtitle">Search For Members of The Order of The Phoenix By House</p>
      <a href="/">Search Again</a>
    </div>
    <h1><%= @members.count %> Results</h1>
    <% @members.each do |member| %>
      <section class="member">
        <p class="name"><b><%= member.name %></b></p>
        <p class="role"><b>Role: </b><%= member.role %></p>
        <p class="house"><b>House: </b><%= member.house %></p>
        <p class="patronus"><b>Patronus: </b><%= member.patronus %></p>
        <br>
      </section>
    <% end %>
  </nav>
</body
